@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap");
:root {
  --green: #27ae60;
  --back: #444;
  --light-color: #777;
  --bg-color: #e6e6e6;
  --hd--color: #def7ff;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
  --box-shadow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
  --box-shadow-inset: 0.5rem 0.4rem 1rem #ccc inset,
    -0.4rem -0.4rem 1rem #fff inset;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: 0.2s linear;
  text-decoration: none;
}

.cabeçalho {
  text-transform: capitalize;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 2rem;
  color: var(--back);
}

.conheci ul li {
  background: var(--light-color);
  border: 0.1rem solid;
  border-radius: 1rem;
  padding: 0.9rem;
  color: var(--bg-color);
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}

.conheci ul{
  box-shadow: var(--box-shadow);
  list-style-type: none;
}

.conheci button a {
  text-decoration: none;
  color: var(--bg-color);
}

.conheci button {
  margin-left: 930px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 15px;
  border-radius: 11%;
  padding: 0.7rem;
  max-width: 15rem;
  max-height: 10rem;
  background: #444;
}

body footer p {
  margin-top: 20px;
  text-align: center;
}
