
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
:root{
    --green:#27ae60;
    --back:#444;
    --light-color:#777;
    --bg-color:#e6e6e6;
    --hd--color:#def7ff;
    --border:.1rem solid rgba(0,0,0,.2);
    --box-shadow: .4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset: .4rem .4rem 1rem #ccc inset,
                      -.4rem -.4rem 1rem #fff inset; 
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: .2s linear;
    text-decoration: none;
}

html{
    font-size: 62.%5;

    scroll-behavior: smooth;
}

body{
    background: var(--bg-color);
    height: 100vh;   
      overflow: hidden; 

}

/* .cabeçalho {
    position: fixed;
    top: 0; left: 0;
    z-index: 999;
    background: var(--bg-color);
    width: 30rem;
    border-right: var(--border);
    height: 100%;
    padding: 2rem;
    text-align: center;
} */
.h-full{
    height: 100%;
}
.risquinho{
    
    border-right:1px solid #777!important;
}

img{
    margin: 1rem 0;
    border: 1rem solid transparent;
    border-radius: 50%;
    height: 13rem;
    width: 13rem;
    box-shadow: var(--box-shadow);
}

.usuario h3{
    color: var(--back);
    font-size: 2rem;
}

.sobre .tele p{
    color: var(--back);
    margin-top: 5px;
    font-size: 1.5rem;
}

.sobre .conteiner .p a{
    color: var(--green);
    box-shadow: var(--box-shadow);
}

.usuario p{
    color: var(--green);
    font-size: 1.5rem;
}

.navbar{
    padding-top: 1rem;
}

.navbar a{
    display: block;
    margin: 1.3rem 0;
    padding: 0.1rem 1rem;
    border-radius: 5rem;
    font-size: 1.4rem;
    box-shadow: var(--box-shadow);
    color: var(--back);
    text-decoration: none;
}
 .navbar a :hover{
    box-shadow: var(--box-shadow-inset);
}

#menu-btn{
    position: fixed;
    top: 1.5rem; left: 2rem;
    z-index: 1000;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--back);
    display: none;
}



#menu-btn :hover{
    color: var(--green);
    box-shadow: var(--box-shadow-inset);
}


.sobre{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sobre .conteiner h3{
    font-size: 4rem;
    color: var(--back);
    line-height: 3;
    text-transform: uppercase;
}

.sobre .conteiner .p{
    font-size: 1.5rem;
    color: var(--back);
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.sobre .redesSoci{
    position: relative;
    top: 4rem;
    border-radius: .8rem;
    box-shadow: var(--box-shadow);
    padding: .1rem;
}
.sobre .redesSoci a{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    box-shadow: var(--box-shadow);
    margin: 2rem;
    font-size: 2rem;
    color: var(--back);
}

.sobre .redesSoci .tele{
    margin: 2px;
    font-size: 10rem;
}